<style>
  img {
    display: block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -mox-border-radius: 4px;
    margin: 20px 0 40px;
  }
</style>

<h2>Kurum Yardım Sayfası</h2>

