<center>
  <h2>Staj Yönetim Sistemi</h2>
  <hr />
</center>
<div class="span3">
    <div class="thumbnail">
      <div class="caption">
        <h4>Kurum Kaydı</h4>
        <p>Buradan kurumunuzu kaydedebilirsiniz.</p>
        <p><a href="/home/institute_register" class="btn btn-primary">Kurum Kaydı</a></p>
      </div>
    </div>
  </div>
</div>


